/* HEADER */
main navigation {
    position: relative;
}
/* .nav-text {
    color: rgb(67, 182, 200);
    margin-top: 0.3em; 
    font-size: 1.25em;
    text-transform: uppercase; 
} */
li a {
    color: rgb(67, 182, 200);
    margin-top: 0.3em; 
    font-size: 1.25em;
    text-transform: uppercase; 
}
.nav-color {
    background-color: rgba(34, 43, 46, 0.85);
}
.circle {
    border-radius: 50%;
	width: 2em;
    height: 2em; 
    background-color: rgb(67, 182, 200);
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 2em; 
}
.navbar-nav .active>.nav-link {
    text-decoration: none;
    font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: white;
    color: white !important;
    background-color: transparent !important;
}
.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 2px solid rgb(67, 182, 200);
    border-right: 2px solid rgb(67, 182, 200);
}


/* FOOTER */
.brand-footer {
    background-color: rgb(244, 244, 244);
    color: rgb(209, 210, 212);
    padding: 1em;
}
.copyright {
    float: right;
    margin-top: 1.25em;
}



/* WELCOME */
#welcomebackground {
    background: url("/images/covalence-store-home-copy.jpg") no-repeat center center scroll;
    margin-top: 68px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 800px;
    min-width: 100%;
}

.welcome-text {
    padding: 15rem 0;
    text-align: center;
    right:20em;
    background: rgba(0, 0, 0, 0.4);
    min-height: 800px;
}

.welcome {
    height: 100vh;
    margin-top: 68px;
    background-image: url('/images/covalence-store-home-copy.jpg');
    background-position: center center;
    background-size: contain;
    background-size: cover;
}
.welcome img {
    width: 100%;
    height: auto;
    position: relative;
}
.hello-text {
    float: left;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}
.hello-text h1 {
    font-size: 3.75em;
}
#shop-btn {
    margin-top: 1.5em;
    border-radius: none;
    padding: 0.5em;
}
#shop-btn:focus {
    outline: 0;
}
.btn {
    font-weight: lighter;
}



/* APPAREL MISC */
#apparel-pic {
    background-image: url("/images/covalence-store-apparel-hero.jpg");
    background-size: cover;
    height: 16em;
    width: 100%;
}
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}



/* SINGLE */
.product-hero {
    width: 100%;
}

.product-thumbnail {
    width: 250px;
}

.single-container {
    margin: 10em 5em 2em;
}
.currency-b {
    color: rgb(67, 182, 200);
}
.description-b {
    color: rgb(118,120, 133);
    font-size: 0.85em;
}
#add-btn {
    border-radius: none;
    padding: 1em;
    margin-top: 1.5em;
    width: 12em;
}
#add-btn:focus {
    outline: 0;
}


/* CONTACT */
#contact-form {
    width: 800px;
    margin: 0 auto;
    padding: 1em;
  }
body {
  margin: 68px 0 0 0;
}
#contact {
    color: #17a2b8;
    font-family: brandon grotesque;
  }



/* CHECKOUT */
.checkout-container {
    margin: 5em 5em 2em;
    border: 1px solid lightgray;
    border-radius: 0.45em;
    overflow: auto;
    background-color: rgb(244, 244, 244);
}

.payment-form {
    background-color: white;
    padding-bottom: 1em;
}

.badge {
    background-color: #2aabd2;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;  
    color: #FFF;
    text-align: center; 
    top: 1em;
}

.payment-img {
    width: 35px;
}

.purchase-btn-container {
    text-align: center;
}

.checkout-cart {
    background-color: rgb(244, 244, 244);
    text-align: center;
}
#cancel-return {
    border-radius: 0px;
    background-color: white;
    color: red;
    font-size: 1em;
}
#cancel-return:focus, #cancel-return:hover {
    outline: 0;
    background-color: white;
}
.apply {
    background-color: rgb(244, 244, 244);
    border: 1px solid lightgray;
    color: gray;
}
.apply:focus, .apply:hover {
    outline: 0;
    color: gray;
}
.order-total-left {
    text-align: left;
}

.order-total-right {
    text-align: right;
}

.cart-item {
    margin-bottom: 1em;
    float: left;
}

.cart-img {
    width: 5em;
    float: left;
}
.left-block {
    margin-top: 0.5em;
    margin-left: -3em;
} 
.product-right {
    float: right;
    margin-top: 0.5em;
}   
#submit-btn {
    border-radius: none;
    margin-top: 0.5em;
    width: 10em;
    font-size: 1.1em;
}
#submit-btn:focus {
    outline: 0;
}
#testing {
    background-color: #f5f5f562;
}