<nav class="navbar navbar-expand-md fixed-top nav-color">
    <a class="navbar-brand" href="/">
      <img src="/images/Newlogo.png" width="200" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="divider-vertical"></span>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-text {{ activePage === 'apparel' ? 'active' : '' }}">
          <a class="nav-link selected" href="/apparel" ng-click="selected = 'apparel'">Apparel</a>
        </li>
        <li class="nav-item nav-text {{ activePage === 'misc' ? 'active' : '' }}">
          <a class="nav-link selected" href="/misc" ng-click="selected = 'misc'">Misc</a>
        </li>
        <li class="nav-item nav-text {{ activePage === 'contactus' ? 'active' : '' }}">
          <a class="nav-link selected" href="/contactus" ng-click="selected = 'contactus'">Contact Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item nav-text">
            <a class="nav-link" href="/checkout">Cart</a>
    </ul>
      <form class="form-inline">
        <a href="/checkout"><div class="circle">1<div></a>
      </form>
    </div>
  </nav>

    