<main-navigation active-page="'contactus'"></main-navigation>

<div class="container" id="pushitdown">
    <br></br>
    <center><h3>  We'd love to hear from you!</h3></center>
    <br>
        <div class="row">
                        <div class="col-sm-8 action-call h4">Drop us a note.
                            <br></br>
                                <div class="contact-label h5">Name
                                        <div class="form-group">
                                                <input type="name" id="name" placeholder="Joe Doe" class="form-control" ng-model="name" />
                                                    </div>
                                </div>
                                <div class="contact-label h5">E-mail
                                        <div class="form-group">
                                                <input type="email" id="email" placeholder="yourname@email.com" class="form-control" ng-model="email" />
                                </div>
                                <div class="contact-label h5">Message
                                        <div class="form-group">
                                                <textarea rows="3" class="form-control" placeholder="Thoughts? Questions? Requests?" id="message" ng-model="message" />
                                                </textarea>
                                            </div>
                                </div>
                                <input type="submit" value="Send" ng-click="contact()" class="btn btn-info" />
                            </div>
                </div>
                <div class="col-sm-4 action-call h4">Connect with us.
                    <div class="">
                        <br>
                            <a href="https://www.facebook.com/covalence.io/" class="fa fa-facebook"></a>
                            
                    </div>
                    <div class="">
                        <br>
                            <a href="https://twitter.com/covalence_io" class="fa fa-twitter"></a>

                    </div>
                    <div class=""></div>
                        <br>
                        <a href="https://www.instagram.com/covalence.io/" class="fa fa-instagram"></a>
                </div>
        </div>
            </div>
</div>

<footer-navigation></footer-navigation>