<main-navigation active-page="'misc'"></main-navigation>

<div class="container-fluid">
        <div class="row line-line"> 
           <div class="col-xs-12 col-md-6 col-sm-6" ng-repeat="product in products">
               <div class="center-block products">
                   <a href="/{{ product.id }}"><img src="{{ product.imageurl }}" class="thumbnail product-thumbnail product img-responsive" alt="{{ product.title }}"></a>
                   <a href="/{{ product.id }}"><div class="grid-market">
                       <h4 class="description">{{ product.title }}
                           <p>{{ product.description }}</p>
                   <span class="currency">${{ product.price }}</span></h4></div></a>
               </div>
           </div>
        </div> 
   </div>
    
<footer-navigation></footer-navigation>