<main-navigation></main-navigation>
<div class="home-image">
        <header>
            <img src="/images/covalence-store-home-copy.jpg" height="+200" width=100% --/>
        </header>
    </div>
<div class="welcome">
        <div class="container-fluid">
            <div class="welcome-text">
                <h1>Welome to the</h1>
                <h1>Covalence Store.</h1>
                <a class="welcome-startbtn" href="/apparel"><button id="shop-btn" class="btn btn-lg btn info">START SHOPPING</button></a>
            </div>
        </div>
    </div>